<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @event.game %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<%= link_to 'Edit', edit_team_event_path(@team, @event) %> |
<%= link_to 'Back', team_events_path(@team) %>
