<!DOCTYPE html>
<html>
  <head>
    <title>Soccer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <%= link_to "Home", root_path%>
      |
      <% if current_team.present? %>
        <%= link_to "Players", team_players_path(current_team)  %>
      <%  else  %>
        Players    
      <% end %>
      |
      <%= link_to "Calendar" %>
      |
      <%= link_to "Linup" %>
      |
      <%= link_to "Communication" %>
      |
      <% if user_signed_in? %>
        Welcome <%= current_user.full_name %>
      <% end %>
    </div>
    <hr>
    <div class="">
      <% if current_team.present? %>
        welcome <%= current_team.name %>
        |
        <%= link_to 'Back', teams_path%>
        |
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Add Team", new_team_path %>
        |
        <%= link_to "Sign Out", sessions_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        |
        <%= link_to "Sign In", new_session_path %>
      <% end %>
    </div>
    <hr>
    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
